.slide {
  position: relative;
  width: 100%;
  height: 90vh;
}

.slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBackdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  border-radius: 12px;
  max-width: 80%;
  text-align: center;
  z-index: 2;
}

.centeredText {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 768px) {
  .textBackdrop {
    padding: 1rem;
    max-width: 90%;
  }

  .centeredText {
    font-size: 1.2rem;
  }
}