.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #a3c9a8;
  position: relative;
  z-index: 100;
}

.logo img {
  height: 40px;
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: #1d3b2a;
  font-weight: 500;
}

.navLinks a:hover,
.navLinks a:focus {
  background-color: #f7efe6; 
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
  outline: none;
}


.loginIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #2f4f2f;
  cursor: pointer;
  text-decoration: none;
}

.loginIcon:hover {
  opacity: 0.8;
}

.accountIcon {
  width: 28px;
  height: 28px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.megamenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background-color: #d8ebd8;
  padding: 2rem;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.linkList a {
  color: #123c2c;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: 'Montserrat Alternates', sans-serif;
}

.linkList a:hover,
.linkList a:focus {
  color: #1d5c45;
  background-color: #f7efe6; 
  padding-left: 0.5rem;
  padding-right: 0.5rem;      
  border-radius: 1rem;
  outline: none;            
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 2rem;
  color:#264e37;
}
.loginIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(20%) sepia(13%) saturate(542%)
    hue-rotate(71deg) brightness(93%) contrast(87%);
}


@media screen and (max-width: 768px) {
  .navLinks {
    display: none;
    color:#264e37;
  }

  .hamburger {
    display: block;
    color:#264e37;
  }
}
