.comunidadContainer {
  background-color: #f7efe6;
  padding: 3rem 1.5rem;
  text-align: center;
  min-height: 100vh;
}

.titulo {
  font-size: 2rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: #4a8b61;
  margin-bottom: 1rem;

}

.descripcion {
  font-size: 1rem;
  color: #444;
  max-width: 700px;
  margin: 0 auto 2rem auto;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  
}

.gridGaleria {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.imagenWrapper {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cardContent {
  padding: 1.5rem;
}

.cardContent h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #4a8b61;
}

.card p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  color: #444;
  line-height: 1.7;
  margin: 0;
  text-align: justify;
}


@media screen and (min-width: 768px) {
  .gridGaleria {
    gap: 2.5rem;
  }

  .card {
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    width: 95%;
    padding: 0;
  }

  .imagenWrapper {
    width: 350px;
    height: 240px;
    margin-left: 1rem;
  }

  .cardContent {
    padding: 2rem;
  }
}
