.adminPage {
  padding: 2rem;
  background-color: #fdfdfd;
  font-family: 'Poppins', sans-serif;
}

.section {
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: #f7efe6;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}
